/*Mobile*/
@media screen and (min-width: 321px){

    body {
        display: flex;
    }
    
    #mainWrapper {
        width: 100%;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 5px solid black;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-bottom: 10px;
        flex-grow: 1;
    }
    
    .logo {
        width: 20%;
        height: 100%;
    }
    
    h1 {
        display: flex;
        align-self: center;
        width: 80%;
        margin: 0;
    }
    
    .photo {
        width: 42%;
        object-fit: contain;
        margin: 20px 10px 10px 10px;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }   
}


/* Breakpoint 480px */
@media screen and (min-width: 480px){

body {
    display: flex;
}

#mainWrapper {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid black;
}
.title {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 10px;
    flex-grow: 1;
}

.logo {
    width: 20%;
    height: 100%;
}

h1 {
    display: flex;
    align-self: center;
    width: 80%;
    margin: 0;
}

.photo {
    width: 45%;
    object-fit: contain;
    margin: 20px 10px 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
}

/*Website*/
@media screen and (min-width: 1024px){

    body {
    display: flex;
}

#mainWrapper {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid black;
    position: fixed;
    height: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-grow: 1;
}

.logo {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.photo {
    width: 30%;
    height: 100%; 
    object-fit: contain;
    margin: 10px 10px 10px 10px;
}

/* .row {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 15%;
}*/

.row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
} 

}